.btn.colortag,
.label.colortag,
.dropdown.create-tagging {
	transition: all 0.2s ease 0s;
	opacity: 1;
	font-size: 100%;
	display: inline-block;
	margin: 0.15em 0;
}
.btn.colortag {
	padding: 0.2em 0.4em 0.1em;
	margin: 0.15em;
}
.btn.colortag-light,
.label.colortag-light {
	color: #000;
}
.btn.colortag-dark,
.label.colortag-dark {
	color: #fff;
}
.btn.colortag:not(.colortag-active):not(.active):not(:hover),
.label.colortag:not(.colortag-active):not(.active):not(:hover) {
	color: #000;
	background-color: #ddd !important;
}
.btn.colortag.mltsb-state-2,
.label.colortag.mltsb-state-2 {
	background-image: linear-gradient(
		to right,
		rgba(221, 221, 221, 0) 3px,
		rgba(221, 221, 221, 0.75) 5px 21px,
		rgba(221, 221, 221, 0) 23px
	);
}
.btn.colortag:not(.mltsb-2-stage) > i {
	padding-right: 0.1em;
}
.btn.colortag.mltsb-state-2 > i {
	color: #000;
}
.btn.colortag:hover {
	opacity: 0.6;
}

.colortag.pinned:after {
	position: relative;
	top: 0px;
	left: 4px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e146";
}
