.btn-check:checked + .btn:before {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'bootstrap-icons';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	margin-right: 0.25em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f26e"; /* bi-check-lg */
}

/* and-or specific */
.button-group.and-or {
	margin: 0;
	margin-bottom: 0.4em;
}

/* help button */
.help-btn {
	color: #6c757d;
	margin-left: 0.2em;
}
.help-btn > .bi {
	position: relative;
	top: 2px;
}
.help-btn:hover {
	color: #5c636a;
}
.help-btn + .popover {
	max-width: 550px;
}

/* visible focus */
.btn-check:focus-visible + .btn {
	outline: 4px solid #fd0;
	text-decoration: underline;
}
