.btn.colortag,
.label.colortag,
.dropdown.create-tagging {
	transition: all 0.2s ease 0s;
	opacity: 1;
	font-size: 100%;
	display: inline-block;
	margin: 0.2em 0; /* spacing between lines */
}
.btn.colortag-light,
.label.colortag-light {
	color: #000;
}
.btn.colortag-dark,
.label.colortag-dark {
	color: #fff;
}
.btn.colortag:not(.colortag-active):not(.active):not(:hover),
.label.colortag:not(.colortag-active):not(.active):not(:hover) {
	color: #000;
	background-color: #ddd !important;
}
.btn.colortag.mltsb-state-2,
.label.colortag.mltsb-state-2 {
	background-image: linear-gradient(
		to right,
		rgba(221, 221, 221, 0) 6px,
		rgba(221, 221, 221, 0.75) 8px 29px,
		rgba(221, 221, 221, 0) 31px
	);
}
.btn.colortag:not(.mltsb-2-stage) > i {
	padding-right: 6px;
}
.btn.colortag.mltsb-state-2 > i {
	color: #000;
}
.btn.colortag:hover {
	opacity: 0.6;
}
