<link rel="stylesheet" href="{{ static('django_colortag.css') }}" integrity="sha384-ZyBJexWAzkhW76t4zHbXeI+chbgwEoJfDp2vYbyj26RtM5WOoEcwPY8xEhWDu4fV" crossorigin="anonymous">
<script src="{{ static('django_colortag.js') }}" integrity="sha384-ue/mY9OhJXfaD1gO6mlZICNQPG2NX5t/+S+U5dHVrYIz/CgKnPaoRPKyYUVXRtVe" crossorigin="anonymous"></script>
